<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="VUS.Properties.Settings.DB_VUSConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=DB_VUS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>